<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание учетной записи</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/css/article.css">
    <div class="header">
        <img width='200px' src="https://s.tcdn.co/81c/c1e/81cc1ee9-0b7a-4cf8-82cf-59208b404fdc/10.png" />
    </div>
    <div class='states'><a id='re' href='{{ STATIC_URL }}/'>Архив статей</a></div>
</head>
<body class='article'>
    <h4 align="center" style="color:orange;">{{ form.errors }}</h4>
    <table align="center" width='35%'>
        <thead>
            <tr>
                <th><h3>Регистрация пользователя</h3></th>
            </tr>
        </thead>
        <tbody>
        <form method="POST">
        {% csrf_token %}
        <tr>
            <td align="center">
                <label class="required">Username:</label>
                <input name='username' value='{{form.username }}' type="text" class="naming">
            </td>
        </tr>
        <tr>
            <td align="center">
                <label class="required">E-mail:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input name='mail' value='{{form.mail }}' type="email" class="naming"></td>
        </tr>
        <tr>
            <td align="center">
                <label class="required">Password:&nbsp;</label>
                <input name='password' value='{{form.password }}' type="password" class="naming"></td>
        </tr>
        <tr>
            <td align="center">
                <label></label>
                <input type="submit" value="Зарегистрировать">
            </td>
        </tr>
    </form>
    </tbody>
    </table>
</body>
</html>